.main-login{
    height: 100vh;
    background-image: url('../../../public/photos/background-login.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.border-login{
    border: 3px solid rgba(235, 59, 59, 0.548);
    height: 70%;
    width: 45%;
    border-radius: 10px;
    background-color: rgba(164, 185, 209, 0.719);
    text-align: center; 
}

.content-login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    gap: 50px;
    margin-top: 20px;
}


.formulario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
    gap: 40px;
}